<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Status Account</title>
    <style>
        .head{
           font-size: 18px;
           font-weight: bold;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="body">
        <ul>
            <li>Numero de Cuenta: <span th:text="${accountNumber}"></span></li>
            <li>Saldo de Cuenta: <span th:text="${balance}"></span></li>
            <li>Tarjeta Asociada: <span th:text="${card}"></span></li>
            <li>Fecha de Apertura de Cuenta: <span th:text="${registrationDate}"></span></li>
        </ul>
    </div>
</div>
</body>
</html>